<%- include('./partials/_header.ejs') %> <%- include('./partials/_navbar.ejs')
%>

<div class="container">
  <hr />
  <h2>Categorias</h2>
  <a href="/admin/categories/new" class="btn btn-success"
    >Adicionar nova categoria</a
  >
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Slug</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      <% allCategories.forEach(categorie => { %>
      <tr>
        <th><%= categorie.dataValues.id %></th>
        <th><%= categorie.dataValues.title %></th>
        <th><%= categorie.dataValues.slug %></th>
        <th>
          <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= categorie.dataValues.id %>" >Editar</button>
          <a
            href="/categories/delete/<%= categorie.dataValues.id %>"
            class="btn btn-danger"
            >Excluir</a
          >
        </th>
        <!-- Modal edição -->
        <div
          class="modal fade"
          id="exampleModal-<%= categorie.dataValues.id %>"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                    <form action="/admin/categories/edit/<%= categorie.dataValues.id %>" method="post">

                              <label for="title">Título da categoria:</label>
                              <input type="text" name="title" class="form-control mt-3" value="<%= categorie.dataValues.title %>">
                    
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-danger"
                  data-bs-dismiss="modal"
                >
                  fechar
                </button>
                <button type="submit" class="btn btn-success">
                  Salvar
                </button>
              </div>
          </form>
            </div>
          </div>
        </div>
      </tr>

      <% }) %>
    </tbody>
  </table>
</div>

<%- include('./partials/_foot.ejs') %>
