<%- include('./partials/_header.ejs') %> 
<%- include('./partials/_navbar.ejs')%>

<div class="container">
  <% errors.forEach(error => { %>
    <div class="alert alert-danger mt-3">
              <p><%= error %></p>
    </div>

<% }) %>
  <% success.forEach(succes => { %>
    <div class="alert alert-success mt-3">
              <p><%= succes %></p>
    </div>

<% }) %>
  <hr />
  <h2>Usuários</h2>
  <hr />
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>E-mail</th>
      </tr>
    </thead>

    <tbody>
          <% let i = 0 %>
      <% allUsers.forEach(user => { %>
      <tr>
          <% i++ %>

        <th><%- i %></th>
        <th><%= user.dataValues.name %></th>
        <th><%= user.dataValues.email %></th>

      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('./partials/_foot.ejs') %>