<%- include('./partials/_header.ejs') %> 
<%- include('./partials/_navbar.ejs') %>

<div class="container">
          <hr>
  <% result.articles.rows.forEach(articles => { %>

          <div class="card mt-4">
                    <div class="card-header">
                              <h4><%- articles.dataValues.title %></h4>
                    </div>

                    <div class="card-body">
                              <a href="/<%- articles.dataValues.slug %>" class="btn btn-success">Ler artigo</a>
                    </div>
          </div>
   
  <% }) %>
</div>

<div class="row">
        <div class="col-md-12 mt-4 d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                        <ul class="pagination">

                                <% if (result.page == 2) { %>
                                        <li class="page-item"><a class="page-link text-black" href="/">Previous</a></li>
                                
                                <% } else if (result.page < 2) { %>
                                        <li class="page-item"><a class="page-link text-black" href="/articles/page/<%= result.page - 1 %>">Previous</a></li>
                                 
                                <% } %>

                          <% if (result.next) { %>
                                <li class="page-item"><a class="page-link text-black" href="/articles/page/<%= result.page +1 %>">Next</a></li>
                           
                          <% } %>
                          
                        </ul>
                </nav>
        </div>
</div>

<%- include('./partials/_tinyMCE.ejs') %>

<%- include('./partials/_foot.ejs') %>